body{
    font-family: "Roboto", sans-serif;
    color: #434455;
    font-weight: 500;
    background-color: #FFFFFF;
}
a{
    text-decoration:  none;
}

.site{
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#2e2f42;
}
.site:hover, .site:focus{
    color:#404bbf;
}
address{
    font-style: normal;
}
.cnt{
    font-size: 16px;
    color: #434455;
    font-weight: 400;
    letter-spacing: 0.02em;
    line-height: 1.5;
    
}
.cnt:hover, .cnt:focus{
    color: #404BBF;
}



ul{
    list-style-type: none;
}
.btn{
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
}
.btn:hover, .btn:focus{
    background-color: #404BBF;
}
.logo{
    font-family: "Raleway", sans-serif;
    font-size: 18px ;
    font-weight: 700;
    line-height: 1.17;
    text-decoration: none;
    color:#4d5ae5;
    text-transform: uppercase;
    letter-spacing: 0.03em;
}
.withbtn{
    background-color: #2E2F42;
    color:#FFFFFF;
    text-align: center;
}
.title{
    font-size: 56px;
    font-weight: 700;
    letter-spacing: 0.02em;
    line-height: 1.07;
}

.studio{
    color:#2e2f42;
}
.titles{
    font-size: 36px;
    color:#2E2F42;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
}
.featname{
    font-size: 20px;
    letter-spacing: 0.02em;
    line-height: 24px;
    font-weight: 500 ;
    color:#2E2F42;
}
.feat{
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 24px;
    font-weight: 400;
    color:#434455;
}

.team{
    background-color: #F4F4FD;
}
.member{
    background-color: #FFFFFF;
}
.name{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:#2E2F42;
}


.portname{
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2E2F42;

}
.description{
    font-size: 16px;
    font-weight:400 ;
    line-height: 24px;
    letter-spacing: 0.02em;
    color:#434455;
}
.foot{
    background-color: #2E2F42;
    
}
.statement{
    color:#f4f4fd;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
}
.foot .studio{
    color:#f4f4fd;
}
