body{
    font-family: "Roboto", sans-serif;
    color: #434455;
    font-weight: 500;
    background-color: #FFFFFF;
}
a{
    text-decoration:  none;
}
.top{
    border-bottom: 1px solid #E7E9FC;
}
.site{
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#2e2f42;
    padding: 24px 0 24px;
}
.site:hover, .site:focus{
    color:#404bbf;
}
address{
    font-style: normal;
}
.cnt{
    font-size: 16px;
    color: #434455;
    font-weight: 400;
    letter-spacing: 0.02em;
    line-height: 1.5;
    
}
.cnt:hover, .cnt:focus{
    color: #404BBF;
}



ul{
    list-style-type: none;
}
.btn{
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    padding: 16px 32px;
    border: 0;
    border-radius: 4px;
    display: block;
    margin: 0 auto;
    min-width: 169px;
   
}
.btn:hover, .btn:focus{
    background-color: #404BBF;
}
.logo{
    font-family: "Raleway", sans-serif;
    font-size: 18px ;
    font-weight: 700;
    line-height: 1.17;
    text-decoration: none;
    color:#4d5ae5;
    text-transform: uppercase;
    letter-spacing: 0.03em;

}
.wthbtn{
    background-color: #2E2F42;
    color:#FFFFFF;
    text-align: center;
}
.title{
    font-size: 56px;
    font-weight: 700;
    letter-spacing: 0.02em;
    line-height: 1.07;
}

.studio{
    color:#2e2f42;
}
.titles{
    font-size: 36px;
    color:#2E2F42;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
}
.featname{
    font-size: 20px;
    letter-spacing: 0.02em;
    line-height: 24px;
    font-weight: 500 ;
    color:#2E2F42;
}
.feat{
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 24px;
    font-weight: 400;
    color:#434455;
}

.team{
    background-color: #F4F4FD;
}
.member{
    background-color: #FFFFFF;
}
.name{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:#2E2F42;
}


.portname{
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2E2F42;

}
.description{
    font-size: 16px;
    font-weight:400 ;
    line-height: 24px;
    letter-spacing: 0.02em;
    color:#434455;
}
.foot{
    background-color: #2E2F42;
    
}
.statement{
    color:#f4f4fd;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
}
.foot .studio{
    color:#f4f4fd;
}
/*working with geometry*/
ul,
h1,
h2,
h3,
p {
    margin: 0;
    padding: 0;
}
.container {
    width: 1158px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px 0 15px;
}

.header-nav {
    display: flex;
    align-items: center;
}
img{
    display: block;
}
.logo{
    margin-right: 76px;
}
.navigation {
    display: flex;
    gap: 40px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.contacts {
    display: flex;
    gap: 40px;
}
.top .container{
    margin-top: 24px;
    margin-bottom: 25px;
}
.wthbtn{
    padding-top: 188px;
    padding-bottom: 188px;
}
.wthbtn .container{
    display: block;
    
}
.title{
    max-width: 496px;
    margin:45px auto;
}
.section{
    padding: 120px 0;
}

.visually-hidden {
    position: fixed;
    transform: scale(0);
}

.features{
    display: flex;
    gap:24px;
    /*padding-bottom: 120px;*/
}
.featcard{
    width: calc((100% - 72px) / 4);
}
.featname{
    margin-bottom: 8px;
}
/*.feats .container{
    margin-bottom: 120px;
}*/
.team .container{
    display: block;
    /*padding-bottom: 120px;*/
}
.members{
    display: flex;
    flex-direction: row;
    gap:24px;
}
.member{
    border-radius: 0px 0px 4px 4px;
    width: calc((100% - 72px) / 4);
}
.names{
    padding: 32px 0 32px;
}
.name{
    text-align: center;
    margin-bottom: 8px;
}
.position{
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 24px;
    font-weight: 400;
    color:#434455;
    text-align: center;
}

.portfolio .container{
    display: block;
    /*padding-bottom: 120px;*/
}
.portfolios{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 24px;
    padding: 0;
    margin-top: 72px;
    pad
}
.portfolios li{
    width: calc((100% - 48px) / 3);
    padding-bottom: 32px;
}
.portname{
    margin-top: 32px;
    margin-bottom: 8px;
    padding-left: 16px;
}
.description{
    padding-left: 16px;
    
}
.foot .container{
    display: block;
    padding-top: 100px;
}
.statement{
    padding-bottom: 100px ;
    margin-top: 16px;
    width: 264px;
}